body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}
.nav
{
    list-style-type: none;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
    display: inline;
}

legend {
  font-family: 'Lobster', cursive;
}

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #ffffff;
  background-color: #108a93;
    margin-top: 124px;
    margin-left:65px;
}