body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 color: #ffffff;
  background-color:#F1C2B8;
    margin-top: 124px;
    margin-left:65px;
}


@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1{
  font-family: 'Lobster', cursive;
    margin-top:4px;
    color:black;
}
.bg-light {
    background-color: #F3E7E4!important;
}


.navbar-brand {
  font-family: 'Lobster', cursive;
    font-weight: bold;
    
    font-size: 2em;
}
.nav-link {
    padding:5px;
    font-weight: bold;
    font-size: 1.1em;
    color:black;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5em;
    color:black;
}
ul li{
    font-size:1.5em;
    margin:5px;
    color:black;
}
legend {
  font-family: 'Lobster', cursive;
    color:black;
}
